@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorPassword, #errorName, #errorNameSeg, #errorNameAdr, #errorEmail, #errorPhone {
    display: none;
}
.break{
  flex-basis: 100%;
  height: 0;
}